.about {
  font-family: "Inter";
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
  background-color: #f6fff7;
}

.about-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 13rem;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us p {
  margin-right: 24rem;
}

.founder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.founder img {
  width: 200px;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}

.founder p {
  margin-right: 24rem;
}

.meet-team p {
  margin-right: 24rem;
}
